<!doctype html>

{% macro lang_option(lang_name, current_lang) %}
    <option value="{{ lang_name }}" {{ 'selected' if current_lang == lang_name else '' }}>{{ lang_name }}</option>
{% endmacro %}

{% macro supported_source_lang_options(current_lang) %}
    {% for lang_name in supported_source_languages.keys() %}
        {{ lang_option(lang_name, current_lang) }}
    {% endfor %}
{% endmacro %}

{% macro supported_target_lang_options(current_lang) %}
    {% for lang_name in supported_target_languages.keys() %}
        {{ lang_option(lang_name, current_lang) }}
    {% endfor %}
{% endmacro %}


<html lang="en">
    <head>
        <title>SimplyTranslate</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta name="description" content="Experience simple and private Google translations">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

        <style>
        .center {
            text-align: center;
        }

        .wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        #could_not_switch_languages_text {
            color: red;
        }

        .item {
            width: 100%;
            height: 150px;
        }

        .item-wrapper {
            width: 450px;
            margin: 5px 10px;
        }


        .language {
            height: 50px;
            margin: 0px 10px;
        }

        .switch_languages {
            height: 50px;
            margin: 0px 5px;
        }

        button {
            font-size: 1rem;
            padding: 4px 10px;
            border: 2px solid #888888;
        }

        input,
        select,
        textarea {
            font-size: 1rem;
            padding: 4px;
            border: 2px solid #888888;
        }

        textarea {
            resize: vertical;
            height: 5rem;
            font-family: sans-serif;

            /* Stretch to form width */
            width: 100%;
        }

        input:focus,
        select:focus,
        textarea:focus,
        button:focus {
            border-color: #478061;
            outline: 1px solid #478061;
        }


        body {
            justify-content: center;
            font-family: sans-serif;
        }

        #definitions_and_translations {
            display: grid;
            margin: auto;
            width: 1100px;
            gap: 10px;
            grid-template-areas: "definitions translations";

        }

        .def_type {
            color: #007979;
            text-transform: capitalize;
        }

        .syn {
            color: #804700;
        }

        .syn_type {
            color: #007979;
        }

        .use_in_sentence {
            color: #009902;
        }

        .definitions li:not(:last-child) {
          margin-bottom: 1rem;
        }

        @media screen and (max-width: 1200px) {
            #definitions_and_translations {
                display: grid;
                width: 90vw;
                grid-template-areas:
                    "definitions definitions"
                    "translations translations";
            }
        }


        div.definitions {
            grid-area: definitions;
        }

        div.translations {
            grid-area: translations;
        }

        @media screen and (prefers-color-scheme: dark) {
            body {
                background-color: #212529;
                color: #f8f9fa;
            }

            #could_not_switch_languages_text {
                color: #F13333;
            }

            a:visited {
                color: #9759f6;
                text-decoration: none;
            }

            a {
                color: #599bf6;
                text-decoration: none;
            }

            input,
            select,
            button,
            textarea {
                background-color: #131618;
                border-color: #495057;
                color: #f8f9fa;
            }

            .def_type {
                color: cyan;
                text-transform: capitalize;
            }

            .syn {
                color: burlywood;
            }

            .syn_type {
                color: cyan;
            }

            .use_in_sentence {
                color: yellow;
            }
        }
        </style>
    </head>

    <body>
        <header class="center"><h1>SimplyTranslate</h1></header>

        <form action="/?engine={{ engine }}" method="POST" id="translation-form">

            <!-- engine buttons -->
            {% if engines|length > 1 %}
                <div class="center">
                    Translation Engine
                    {% for _engine in engines %}
                        <a style="
                                  {# Show the currently selected engine by underlining it #}
                                  {% if engine == _engine.name %}
                                    text-decoration: underline;
                                  {% endif %}
                            " href="/?engine={{ _engine.name }}">
                            {{ _engine.display_name -}}
                        </a>

                        {% if not loop.last %}
                            |
                        {% endif %}
                    {% endfor %}
                </div>
                <br>
            {% endif %}

            <!-- from and to language -->
            <div class="wrap">
                <div class="language">
                    {% if use_text_fields %}
                        <input type="text" id="from_language" name="from_language" aria-label="Source language" value="{{ from_l }}" placeholder="from" />
                    {% else %}
                        <select name="from_language" id="from_language" aria-label="Source language">
                            {{ supported_source_lang_options(from_l) }}
                        </select>
                    {% endif %}
                </div>

                <div class="switch_languages">
                    <button id="switchbutton" aria-label="Switch languages" formaction="/switchlanguages/?engine={{ engine }}" type="submit">&lt;-&gt;</button>
                </div>

                <div class="language">
                    {% if use_text_fields %}
                        <input type="text" id="to_language" aria-label="Target language" name="to_language" value="{{ to_l }}" placeholder="from" />
                    {% else %}
                        <select name="to_language" id="to_language" aria-label="Target language">
                            {{ supported_target_lang_options(to_l) }}
                        </select>
                    {% endif %}
                </div>
            </div>

            {% if could_not_switch_languages %}
                <div class="center" id="could_not_switch_languages_text">
                    Sorry, {{ engine }} doesn't support switching from autodetect.
                </div>
                <br>
            {% endif %}

            <!-- text boxes -->
            <div class="wrap">
                <div class="item-wrapper">
                    <textarea autofocus class="item" id="input" name="input" dir="auto"  placeholder="Enter Text Here">{{ inp }}</textarea>
                    <!-- TTS for the input text -->
                    {%- if tts_enabled and tts_from is not none -%}
                        <br>
                        <div class="center">
                            <audio controls>
                                <source type="audio/mpeg" src="{{ tts_from }}">
                            </audio>
                        </div>
                    {%- endif -%}
                </div>



                <div class="item-wrapper">
                    <textarea id="output" class="translation item" dir="auto" placeholder="Translation" readonly>
                        {%- if translation is not none -%}{%- if translation['translated-text'] is not none -%}{{ translation['translated-text'] }}{%- endif -%}{%- endif -%}
                    </textarea>
                    <!-- TTS for the output text -->
                    {%- if tts_enabled and tts_to is not none -%}
                        <br>
                        <div class="center">
                            <audio controls>
                                <source type="audio/mpeg" src="{{ tts_to }}">
                            </audio>
                        </div>
                    {%- endif -%}
                </div>
            </div>

            <br>

            <div class="center">
                <!-- translate button -->
                <button type="submit">Translate with {{ engine }}!</button>
            </div>

            <br>

            <div class="center">
                <!-- link to share translation -->
                <a href="/?engine={{ engine }}&text={{ inp|urlencode }}&sl={{ from_l_code }}&tl={{ to_l_code }}">Copy this link to share this translation with others</a>
            </div>

            <br>

            <div id="definitions_and_translations">
                {% if translation is not none and "definitions" in translation %}
                    <div class="definitions">
                        {% for type, definitions in translation["definitions"].items() %}
                            <span class="def_type">{{type}}</span>
                            <ol>
                                {% for definition_item in definitions %}
                                    <li>
                                        {{definition_item["definition"]}}
                                        <br>
                                        {% if "use-in-sentence" in definition_item %}
                                            <span class="use_in_sentence">
                                                "{{definition_item["use-in-sentence"]}}"
                                            </span>
                                            <br>
                                        {% endif %}
                                        {% if "synonyms" in definition_item %}
                                            {% for synonym_type in definition_item["synonyms"] %}
                                                <span class="syn">
                                                    {% if synonym_type != "" %}
                                                        <br>
                                                        <span class="syn_type">{{synonym_type}}: </span>
                                                    {% endif %}
                                                    {{", ".join(definition_item["synonyms"][synonym_type])}}
                                                </span>
                                            {% endfor %}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if translation is not none and "translations" in translation %}
                    <div class="translations">
                        {% for def_type, translations in translation["translations"].items() %}
                            <span class="def_type">{{def_type}}</span>
                            <ul>
                                {% for word, word_translations in translations.items() %}
                                    <li>
                                        <span class="syn_type">{{word}}:</span>
                                        <span class="syn">{{", ".join(word_translations["words"])}}</span>
                                        <span class="syn_type">{{word_translations["frequency"]}}</span>
                                    </li>
                                    <br>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </form>

        <br>
        <br>
        <br>

        <footer class="center">
            <a href="/prefs">Preferences</a> | <a href="https://simple-web.org/projects/simplytranslate.html">Project Page</a> | <a href="https://simple-web.org">Simple Web Project</a>
        </footer>

        <script>
            // @license magnet:?xt=urn:btih:0b31508aeb0634b347b8270c7bee4d411b5d4109&dn=agpl-3.0.txt AGPL-3.0
            // this code submits the translation form when pressing Ctrl/Meta+Enter while focussed on the input text field
            document.getElementById("input").addEventListener("keydown", function(event) {
                if (event.keyCode === 13 && (event.metaKey || event.ctrlKey)) {
                    document.getElementById("translation-form").submit();
                }
            });

            // Auto resize textarea to fit words inside it without need to scroll -- Thanks to: https://stackoverflow.com/a/25621277
            var input = document.getElementById("input");
            var output = document.getElementById("output");
            input.setAttribute("style", "height:" + output.scrollHeight + "px;overflow-y:scroll;");
            output.setAttribute("style", "height:" + output.scrollHeight + "px;overflow-y:scroll;");
            input.addEventListener("input", function(e) {
                this.style.height = 150 + "px";
                this.style.height = this.scrollHeight + "px";
            });
            
            // @license-end
        </script>
    </body>
</html>
